.App {
  text-align: center;
  font-family: 'Montserrat';
}

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
}

h1 {
  font-family: "Karla";
}



#pokemonPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  max-width: 90dvw;
  margin: auto;
}

#pokemonPreviews{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.activeSandwich{
  background-color: rgb(164, 233, 164);
  color: green;
  border: solid olive 1px;
  border-radius: 4px;
}

#sandwichPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipesDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 940px;
  align-items:center;
  width: 800px;
  margin-bottom: 2rem;
}

#buttonsDiv{
  width: 280px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#buttonsDiv button{
  width: 100px;
  border-radius: 1px;
}

#warnings {
  background-color: #F8AEAD;
  border: solid 3px #ee2623;
  color: #a60704;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

#warnings ul{
  margin-top: 0.1rem;
}

#warnings li{
  margin-bottom: 4px;
  font-size: larger;
  font-weight: 600;
}

.preview{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview img{
  width: 244px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #79B6D5;
  border-bottom: solid 2px #276686

}

#guidePage{
  width: 90dvw;
  margin:auto;
}

.searchNotActive{
  width: 20dvw;
  margin: auto;
  margin-right: 30px;
  padding: 0.5rem;
  transition-duration: 0.5s;
}
.searchActive{
  padding: 0.5rem;
  margin: auto;
  margin-right: 30px;
  width: 50dvw;
  transition-duration: 0.5s;
}

nav{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

a{
  /* background-color: #fff; */
  font-family: "Montserrat";
  font-weight:bold ;
  font-size: large;
  text-decoration: none;
  color: #C1F8FF;
  padding: 0.25rem;
  margin: 0.2rem;
  border: solid #C1F8FF 2px;
  border-radius: 7px;
  height: 20px
}

.counter-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90dvw;
  margin: auto;
}

.button-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.increment{
  height: 40dvh;
  width: 70dvw;
}

.decrement{
  height: 40dvh;
  width: 20dvw;
  background-color: #fbe693;
  border: solid rgb(164, 143, 2) 1px;
  border-radius: 4px;
}

.reset {
  margin-top: 5dvh;
  background-color: #f58b8b;
  border: solid rgb(131, 1, 1) 1px;
  color: #a60704;
  border-radius: 4px;
  width: 30dvw;
  height: 10dvh;
}

button img{
  max-height: 40dvh;
  max-width: 40dvw;
}

.active{
  color: #276686;
}

@media screen and (max-width: 900px) {
  #pokemonPreviews{
    flex-direction: row;
  }
  .preview img{
    width: 40dvw;
    min-width: 150px;
  }

  #sandwichPage{
    max-width: 90dvw;
    max-height:none;
  }
  #recipesDiv{
    max-width: 90dvw;
    max-height: none;
  }

}