.App {
  text-align: center;
  font-family: 'Montserrat';
}

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
}

h1 {
  font-family: "Karla";
}

#warnings{
  background-color: #F8AEAD;
  border: solid 3px #ee2623;
}



#pokemonPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
}

#pokemonPreviews{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.activeSandwich{
  background-color: rgb(164, 233, 164);
  color: green;
  border: solid olive 1px;
  border-radius: 4px;
}

#sandwichPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipesDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 940px;
  align-items:center;
  width: 800px;
}

#buttonsDiv{
  width: 280px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#buttonsDiv button{
  width: 100px;
  border-radius: 1px;
}

#warnings ul{
  margin-top: 0.1rem;
}
#warnings li{
  margin-bottom: 4px;
  font-size: larger;
  font-weight: 600;
}
#warnings {
  color: #a60704;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.preview{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview img{
  width: 244px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 900px) {
  #pokemonPreviews{
    flex-direction: row;
  }
  .preview img{
    width: 40dvw;
    min-width: 150px;
  }
}