body{
  background-color: #d6f5f7;
}
.App {
  text-align: center;
  font-family: 'Montserrat';
}

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
}

h1 {
  font-family: "Karla";
}

.stopwatch{
  position: absolute;
  left: 47dvw;
  top: 2dvh;
}

#pokemonPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  max-width: 90dvw;
  margin: auto;
}

#pokemonPreviews{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.activeSandwich{
  background-color: rgb(164, 233, 164);
  color: green;
  border: solid olive 1px;
  border-radius: 4px;
}

#sandwichPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  margin-top: 4dvh;
  margin-bottom: 25dvh;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer{
  width: 200px;
  position: fixed;
  bottom: 10dvh;
  left: 20%;
  transform: translateX(-50%);
  background-color: #79B6D5;
  border: solid 2px #276686;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #returnButton{
  align-self: flex-start;
  position: fixed;
  top: 100px;
  left: 3%;
  font-size: 36px;
  z-index: 3;
  background-color: #a9dcf5;
  border: solid 2px #276686;
  border-radius: 16px;
  padding: 4px 8px;

} */


#recipesDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 940px;
  align-items:center;
  width: 800px;
  margin-bottom: 2rem;
}

#buttonsDiv{
  width: 280px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#buttonsDiv button{
  width: 100px;
  border-radius: 1px;
}

#warnings {
  background-color: #F8AEAD;
  border: solid 3px #ee2623;
  color: #a60704;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

#warnings ul{
  margin-top: 0.1rem;
}

#warnings li{
  margin-bottom: 4px;
  font-size: larger;
  font-weight: 600;
}

.preview{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview img{
  width: 244px;
}

.timer button {
  margin-right: 4px;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #79B6D5;
  border-bottom: solid 2px #276686;
  width: 100dvw;

}

#guidePage li{
  margin-bottom: 8px;
}
#guidePage{
  font-size: 20px;
  width: 90dvw;
  margin:auto;
  margin-bottom: 25dvh;
}

#title{
  margin-top: 20dvh;
}

#homeSearchBar{
  width: 40dvw;
  margin: auto;
  margin-top: 5dvh;
  border: 1px solid rgb(5, 68, 116);
  border-radius: 3px;
}

.searchNotActive{
  width: 20dvw;
  margin: auto;
  margin-right: 30px;
  padding: 0.5rem;
  transition-duration: 0.5s;
}
.searchActive{
  padding: 0.5rem;
  margin: auto;
  margin-right: 30px;
  width: 50dvw;
  transition-duration: 0.5s;
}

nav{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#homeNav {
  width: 50dvw;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
}

#homeNav a:hover{
  color: #C1F8FF;
  border: solid #C1F8FF 2px;

}
#homeNav a{
  margin-right: 3em;
  color: #0d6571;
  border: solid #0c5963 2px;
}

#startCounting{
  color: #0d6571;
  border: solid #0c5963 2px;
  padding: 4px 8px;
  
}
#startCounting:hover{
  color: #C1F8FF;
  border: solid #C1F8FF 2px;
  background-color: #06363c;

}

a:hover{
  color: #C1F8FF;
  border: solid #C1F8FF 2px;
  background-color: #06363c;

}

a{
  font-family: "Montserrat";
  font-weight:bold ;
  font-size: large;
  text-decoration: none;
  color: #C1F8FF;
  padding: 0.25rem;
  margin: 0.2rem;
  border: solid #C1F8FF 2px;
  border-radius: 7px;
  height: 20px
}


.reset img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.reset img{
  transition: 1s;
}

.reset:hover img {
 transform: rotate(360deg);
}

#timerToggle{
  font-family: "Montserrat";
  font-weight:bold ;
  font-size: large;
  text-decoration: none;
  color: #73ffd5;
  padding: 0.25rem;
  margin: 0.2rem;
  border: solid #276686 2px;
  border-radius: 7px;
  height: 32px;
  background-color: transparent;
}

.directive-text{
  font-size: 2rem;
  font-family: "Karla";
  font-weight:bold;
}

.count{
  margin-top: 0px;
  font-size: 36px;
}

.counter-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90dvw;
  margin: auto;
}

.button-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.increment:active{
  background-color: rgb(107, 212, 107);
}

.spriteWrapper{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.increment{
  display: flex;
  flex-direction: column;
  height: 50dvh;
  width: 30dvw;
  font-size: 100px;
  margin-top: 8px;
  min-height: 300px;
  min-width: 400px;

  align-items: center;
  justify-content: center;
}


.increment img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 4px;
}

.decrement:active{
  background-color: #f5d96a;

}
.decrement{
  margin-top: 5px;
  height: 26dvh;
  font-family: 'Karla';
  font-size: 2rem;

  width: 30dvw;
  background-color: #fbe693;
  color: #7a6e3c;
  border: solid rgb(164, 143, 2) 1px;
  border-radius: 4px;
  font-size: 50px;
  padding-bottom: 3px;
  min-width: 400px;
}

.timer span{
  font-size: 36px;
}

.stopButton{
  background-color: #f58b8b;
  border: solid rgb(131, 1, 1) 1px;
  color: #5a0403;
  border-radius: 4px;
}

.reset:active {
  background-color: #f35b5b;

}

.reset {
  margin-top: 5px;
  font-family: Karla;
  font-size: 2rem;
  background-color: #f58b8b;
  border: solid rgb(131, 1, 1) 1px;
  color: #a60704;
  border-radius: 4px;
  width: 30dvw;
  height: 10dvh;
  font-size: 24px;
  min-width: 400px;
}

button img{
  max-height: 20dvh;
  max-width: 20dvw;
}

.active{
  color: #276686;
}

.hidden{
  display: none;
}

@media screen and (max-width: 900px) {
  #pokemonPreviews{
    flex-direction: row;
  }
  .preview img{
    width: 40dvw;
    min-width: 150px;
  }

  #sandwichPage{
    max-width: 90dvw;
    max-height:none;
  }
  #recipesDiv{
    max-width: 90dvw;
    max-height: none;
  }

  .stopwatch{
    left: 10dvw;
    top: 5dvh;
  }
  .searchActive{
    width: 40dvw;
  }
  .searchNotActive{
    width: 35dvw;
  }
  
  .increment{
    margin-top: 8px;
    width: 95dvw;
    min-width: 200px;
  }
  .decrement{
    height: 19dvh;
    width: 95dvw;
    min-width: 200px;
  }
  .reset{
    width: 95dvw;
    margin-top: 4px;
    min-width: 200px;
  }

  #homeNav{
    width: 80dvw;
  }
  #homeNav a{
    margin-right: 1em;
    font-size: medium;
  }

  #homeSearchBar{
    width: 80dvw;
  }

  header{
    padding: 4px;
    width: 100dvw;
    position: fixed;
    bottom: 0px;
  }

  .timer{
    left: 50%;
    bottom: 15dvh;
  }

  button img{
    max-width: 35dvw;
    max-height: 25dvh;
  }

  /* #returnButton{
    top: 90dvh;
    left: 55dvw;
    min-width: 150px
  } */

}